--extra-index-url https://download.pytorch.org/whl/cu118 # Comment if you don't have Nvidia GPU / CUDA Support 
torch
torchaudio
tortoise-tts
librosa
numpy
moviepy
openai-whisper
transformers
tortoise-tts
opencv-python
pydub
soundfile
demucs
matplotlib
scikit-learn
streamlit
sentencepiece